<h1>Create a new secret</h1>

<%= form_with model: @secret do |form| %>
  <div class="flex rounded text-gray-500 mb-4">
    <%= form.text_area :information, autofocus: true, class: "w-full h-24 px-4 py-2 text-lg", placeholder: "Enter your secret information" %>
  </div>
  <div class="flex rounded text-gray-500 mb-4">
    <%= form.number_field :life_time, class: "w-full h-12 px-4 py-2 text-lg", placeholder: "Enter the life time of the secret in minutes" %>
  </div>
  <div class="flex rounded text-gray-500 mb-4">
    <%= form.number_field :password, type: 'password', class: "w-full h-12 px-4 py-2 text-lg", placeholder: "Enter the secret password" %>
  </div>
  <div class="flex rounded text-gray-500 mb-4">
    <%= form.number_field :password_confirmation, type: 'password', class: "w-full h-12 px-4 py-2 text-lg", placeholder: "Enter the secret password" %>
  </div>
  <%= form.submit %>
<% end %>